@font-face {
    font-family: "Gotham";
    src: url(resources/GothamBold.ttf) format("truetype");
    font-weight: bolder;
}
@font-face {
    font-family: "Gotham";
    src: url(resources/GothamMedium.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gotham";
    src: url(resources/GothamBook.ttf) format("truetype");
    font-weight: normal;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #141414;
    background: -webkit-linear-gradient(
        #141414,
        #141414,
        #2d2630
    );
    background-size: cover;
}

.build {
    height: 10px;
    width: 10px;
    margin-top: auto;
    float: left;
    position: absolute;

    color: #FFFFFF;
    font-family: "Gotham", sans-serif;
    font-weight: bolder;
}

.mobile {
    max-height: 40em;
    max-width: 30em;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: linear-gradient(rgb(29, 29, 29) 0 0) padding-box, linear-gradient(rgb(35, 35, 35), rgb(23, 23, 23)) border-box;
    box-shadow: 0px 10px 25px #141414;

    border: 7px solid transparent;
    border-radius: 8px;
}
.mobile h2{
    font-family: "Gotham", sans-serif;
    font-weight: bold;
    color: rgb(244, 244, 244);
    text-align: center;
    margin: 10px;
    font-size: 1em;
}
.warning{
    filter: invert(100%);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 2em;
    height: 2em;
}

.card {
    width: 400px;
    text-align: center;
    border-radius: 8px;
    /* overflow: hidden; */
    background: linear-gradient(rgb(29, 29, 29) 0 0) padding-box, linear-gradient(rgb(35, 35, 35), rgb(23, 23, 23)) border-box;
    box-shadow: 0px 10px 25px #141414;
    border: 7px solid transparent;
    border-radius: 8px;
}
h2, a{
    font-family: "Gotham", sans-serif;
    font-weight: normal;
    color: rgb(244, 244, 244);
    text-align: center;
    vertical-align: middle;
}
.profile_link {
    margin-top: 5px;
    font-size: 24px;
    text-decoration: none;
}

.avatar {
    display: block;
    margin: 10px auto 10px auto;
    width: 125px;
    height: 125px;
    border-radius: 100%;

    color: rgb(255, 255, 255);
    font-family: "Gotham", sans-serif;
    font-weight: normal;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    margin: 12px;
    padding: 8px;
    background: rgb(25, 25, 25);
    border-radius: 4px; 
}

.thing {
    height: auto;
    width: auto;
    margin: 0 0 4px 0;
}

.footer {
    height: auto;
    width: 300px;
    margin-top: auto;
}

.skillicon {
    filter: invert(100%);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    width: 20px;
    height: auto;
    float: left;
}
.footer h2 {
    font-size: 15px;
    text-align: left;
}
.thing h2 {
    font-size: 15px;
    text-align: left;
    word-wrap: break-word;
}