@font-face {
    font-family: "Gotham";
    src: url(resources/GothamBold.ttf) format("truetype");
    font-weight: bolder;
}
@font-face {
    font-family: "Gotham";
    src: url(resources/GothamMedium.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gotham";
    src: url(resources/GothamBook.ttf) format("truetype");
    font-weight: normal;
}
body > * {
    overflow: hidden;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #141414;
    background: -webkit-linear-gradient(
        #141414,
        #141414,
        #2d2630
    );
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background: linear-gradient(rgb(29, 29, 29) 0 0) padding-box, linear-gradient(rgb(35, 35, 35), rgb(23, 23, 23)) border-box;
    box-shadow: 0 10px 25px #141414;
    border: 7px solid transparent;
    border-radius: 8px;

    font-family: "Gotham", sans-serif;
}

.avatar {
    height: 150px;
    width: auto;
    margin: 10px auto;
    border-radius: 100%;
}

.profile-link {
    margin: 0 auto;
    color: rgb(244, 244, 244);
    text-decoration: none;
    font-size: 24px;
}